

/* html,
body {
  height: 100%;
} */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: row;
}

.form-container form {
  margin: 0 20px
}

#userForm, #getUserEmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}

.wrapper {
  display: flex;flex-direction: row;
}
