* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Color Palette */
  --color-primary: #264653; /* Dark Teal */
  --color-accent1: #e76f51; /* Burnt Orange */
}

.slide-in {
  animation: slide-in 0.3s ease-in-out;
}

.slide-out {
  animation: slide-out 0.3s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
